#not-found-container {
  position: absolute;
  top: 15vh;
  left: 27.5%;
  width: 45%;
  display: flex;
  padding: 20px 40px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: var(--transparent-black);
  border-radius: 10px;

  h1, h2, h4 {
    margin: 0;
  }

  i {
    color: white;
    font-size: 2rem;
  }
}
