<div class="section-container full-page">
  <h1 class="prof-experiences-header">Professional Experiences</h1>
  <div class="page-button-container">
    <i
      [ngClass]="[
        'fa-solid fa-chevron-left',
        currentJobIdx === 0 ? 'hidden' : ''
      ]"
      (click)="onPageLeft()"
    ></i>
    <i
      [ngClass]="[
        'fa-solid fa-chevron-right',
        currentJobIdx === maxJobIdx ? 'hidden' : ''
      ]"
      (click)="onPageRight()"
    ></i>
  </div>
  <!-- Adjusting margin-left slides images off-screen left/right depending on negative/positive value -->
  <div class="job-container" [ngStyle]="{ 'margin-left': slideAmount + 'vw' }">
    <app-job *ngFor="let job of jobs" [job]="job"></app-job>
  </div>
</div>
