.prof-experiences-header {
  position: absolute;
  left: 50px;
  top: 111.5vh;
  margin: 0;
  font-size: 2rem;
}

.page-button-container {
  position: absolute;
  top: 150vh;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;

  i {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--transparent-white);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    cursor: pointer;
  }
}

.job-container {
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: margin-left 2s;
}
