.prof-experiences-header {
  width: 100%;
  position: absolute;
  top: 9vh;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  z-index: 1;
}

.page-button-container {
  position: absolute;
  top: 19vh;
  left: 5%;
  right: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;

  i {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--transparent-white);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    cursor: pointer;
    z-index: 2;
  }
}

.job-container {
  height: 100%;
  display: flex;
  // Instructs the browser to prepare optimizations before
  // transform property is actually changed in order to boost
  // performance/responsiveness. SHOULD BE USED SPARINGLY.
  // https://developer.mozilla.org/en-US/docs/Web/CSS/will-change
  will-change: transform;
}

/*
* SCREEN SIZE RESPONSIVENESS
*/

// Tablet and laptop
@media only screen and (min-width: 501px) and (max-width: 1300px) {
  .prof-experiences-header {
    margin: 0;
    top: 11.5vh;
    left: 50px;
    text-align: left;
  }
}

// Desktop
@media only screen and (min-width: 1301px) {
  .prof-experiences-header {
    margin: 0;
    top: 11.5vh;
    left: 50px;
    text-align: left;
  }

  .page-button-container {
    top: 50vh;
    font-size: 3rem;

    i {
      width: 80px;
      height: 80px;
    }
  }
}
