<div
  *ngIf="currentJob"
  class="job"
  [ngStyle]="{ background: 'url(' + currentJob.image + ')' }"
>
  <div class="timeline">
    <div class="timeline-line left"></div>
    <i class="fa-solid fa-map-pin"></i>
    <div class="timeline-line right"></div>
  </div>
  <div class="page-button-container">
    <i
      [ngClass]="[
        'fa-solid fa-chevron-left',
        currentJobIdx === 0 ? 'hidden' : ''
      ]"
      (click)="onPageLeft()"
    ></i>
    <i
      [ngClass]="[
        'fa-solid fa-chevron-right',
        currentJobIdx === maxJobIdx ? 'hidden' : ''
      ]"
      (click)="onPageRight()"
    ></i>
  </div>
  <article class="job-info">
    <p>{{ currentJob.start }} — {{ currentJob.end }}</p>
    <h1>{{ currentJob.role }}</h1>
    <h2>{{ currentJob.company }}</h2>
    <p>{{ currentJob.description }}</p>
    <ul *ngIf="currentJob.experiences && currentJob.experiences.length > 0">
      <li *ngFor="let exp of currentJob.experiences">{{ exp }}</li>
    </ul>
  </article>
</div>
