.projects-and-certs-header {
  margin: 0 auto;
  padding: 100px 0 50px 0;
  font-size: 2rem;
  text-align: center;
}

.projects-and-certs-grid {
  padding: 0 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}

/*
* SCREEN SIZE RESPONSIVENESS
*/

// Tablet
@media only screen and (min-width: 501px) and (max-width: 900px) {
  .projects-and-certs-header {
    margin: 0 50px;
    text-align: left;
  }

  .projects-and-certs-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Laptop
@media only screen and (min-width: 901px) and (max-width: 1300px) {
  .projects-and-certs-header {
    margin: 0 50px;
    text-align: left;
  }

  .projects-and-certs-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Desktop
@media only screen and (min-width: 1301px) {
  .projects-and-certs-header {
    margin: 0 50px;
    text-align: left;
  }

  .projects-and-certs-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
