:root {
  --background: black;
  --light-gray: #bdbebf;
  --moving-image-width: 1920px;
  --transparent-white: rgba(255, 255, 255, 0.8);
  --transparent-black: rgba(0, 0, 0, 0.8);
  --deep-purple: #18002f;
  --wiggle-degree: 10deg;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.85em;
  background-color: var(--background);
  color: white;
  overflow-x: hidden;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.profile-img {
  border-radius: 50%;
  object-fit: cover;
}

.title {
  font-family: 'Tourney', sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.moving-stars-container {
  position: relative;
  overflow: hidden;
}

.moving-stars {
  width: calc(var(--moving-image-width) * 2);
  background: url('assets/images/stars-background.jpeg') repeat-x;
  // Background cycles through every 3.5 min
  animation: slide 210s linear infinite;
  z-index: -1;
}

.section-container {
  min-height: 100vh;
  position: relative;
}

.full-page {
  height: 100vh;
  min-height: 600px;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(calc(var(--moving-image-width) * -1));
  }
}

/*
* SCREEN SIZE RESPONSIVENESS
*/

// Tablet
@media only screen and (min-width: 501px) and (max-width: 900px) {
  html, body {
    font-size: 0.9em;
  }

  .full-page {
    min-height: 650px;
  }
}

// Laptop
@media only screen and (min-width: 901px) and (max-width: 1300px) {
  html, body {
    font-size: 0.95em;
  }

  .full-page {
    min-height: 650px;
  }
}

// Desktop
@media only screen and (min-width: 1301px) {
  html, body {
    font-size: 1em;
  }

  .full-page {
    min-height: 800px;
  }
}
