<!-- Nav bar -->
<header [ngClass]="{ 'moving-stars-container': navBarOpacityClass !== '' }">
  <div
    [ngClass]="{ 'moving-stars nav-stars': navBarOpacityClass !== '' }"
  ></div>
  <nav
    id="page-nav"
    [ngClass]="[
      'transparent',
      navBarOpacityClass !== '' ? 'fixed-nav ' + navBarOpacityClass : ''
    ]"
  >
    <div
      id="nav-profile-container"
      [ngClass]="{ hidden: navBarOpacityClass === '' }"
    >
      <img
        class="profile-img"
        src="assets/images/profile.jpeg"
        loading="lazy"
      />
      <span class="title">Ryan Krawczyk</span>
    </div>
    <div id="nav-link-container">
      <a class="nav-link" href="#introduction"
        ><i class="fa-solid fa-user"></i
        ><span class="nav-text">Introduction</span></a
      >
      <a class="nav-link" href="#prof-experiences"
        ><i class="fa-solid fa-suitcase"></i
        ><span class="nav-text">Professional Experiences</span></a
      >
      <a class="nav-link" href="#projects-and-certs"
        ><i class="fa-solid fa-award"></i
        ><span class="nav-text">Projects & Certifications</span></a
      >
      <a class="nav-link" href="#contact-me"
        ><i class="fa-solid fa-envelope"></i
        ><span class="nav-text">Contact Me</span></a
      >
    </div>
  </nav>
</header>

<!-- Intro, work, and projects/certs sections -->
<main>
  <section>
    <app-intro id="introduction"></app-intro>
  </section>
  <section>
    <app-work id="prof-experiences"></app-work>
  </section>
  <section>
    <app-projects-and-certs id="projects-and-certs"></app-projects-and-certs>
  </section>
</main>

<!-- Contact -->
<footer>
  <app-contact id="contact-me"></app-contact>
</footer>
