<!-- Nav bar -->
<header>
  <nav>
    <div>
      <img src="assets/images/profile.jpeg" loading="lazy" />
      <span>Ryan Krawczyk</span>
    </div>
    <div>
      <a href="#introduction">Introduction</a>
      <a href="#prof-experiences">Professional Experiences</a>
      <a href="#projects-and-certs">Projects & Certifications</a>
      <a href="#contact-me">Contact Me</a>
    </div>
  </nav>
</header>

<!-- Intro, work, and projects/certs sections -->
<main>
  <section>
    <app-intro id="introduction"></app-intro>
  </section>
  <section>
    <app-work id="prof-experiences"></app-work>
  </section>
  <section>
    <app-projects-and-certs id="projects-and-certs"></app-projects-and-certs>
  </section>
</main>

<!-- Contact -->
<footer>
  <app-contact id="contact-me"></app-contact>
</footer>
