nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  z-index: 3;
}

.transparent {
  background-color: transparent;
}

#nav-profile-container {
  display: none;
}

#nav-link-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-text {
  display: none;
}

.nav-link {
  height: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;

  i {
    color: var(--light-gray);
    font-size: 2rem;
  }
}

.fixed-nav {
  position: fixed;
}

.nav-stars {
  position: fixed;
  height: 60px;
  z-index: 3;
}

// Increased opacity on nav bar as
// user scrolls out of intro section.
.nav-bar-opacity- {
  &1 { opacity: 0.1; }
  &2 { opacity: 0.2; }
  &3 { opacity: 0.3; }
  &4 { opacity: 0.4; }
  &5 { opacity: 0.5; }
  &6 { opacity: 0.6; }
  &7 { opacity: 0.7; }
  &8 { opacity: 0.8; }
  &9 { opacity: 0.9; }
  &10 { opacity: 1; }
}

/*
* SCREEN SIZE RESPONSIVENESS
*/

// Tablet
@media only screen and (min-width: 501px) and (max-width: 900px) {
  .nav-text {
    display: inline;
  }

  .nav-link {
    padding: 0 10px;

    i {
      font-size: 1rem;
    }
  }

  .nav-stars {
    height: 65px;
  }
}

// Laptop
@media only screen and (min-width: 901px) and (max-width: 1300px) {
  #nav-profile-container {
    width: 2.5%;
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      width: 50px;
      height: 50px;
    }

    span {
      display: none;
    }
  }

  #nav-link-container {
    width: 97.5%;
  }

  .nav-text {
    display: inline;
  }

  .nav-link {
    padding: 0 20px;

    i {
      font-size: 1rem;
    }
  }

  .nav-link:hover {
    box-shadow: inset 0 0 10px 0 white;
  }

  .nav-stars {
    height: 80px;
  }
}

// Desktop
@media only screen and (min-width: 1301px) {
  #nav-profile-container {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  #nav-link-container {
    width: 60%;
  }

  .nav-text {
    display: inline;
  }

  .nav-link {
    padding: 0 20px;

    i {
      font-size: 1rem;
    }
  }

  .nav-link:hover {
    box-shadow: inset 0 0 10px 0 white;
  }

  .nav-stars {
    height: 80px;
  }
}
