nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  z-index: 1;
}

.transparent {
  background-color: transparent;
}

#nav-profile-container {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 15px;

  img {
    width: 50px;
    height: 50px;
  }
}

#nav-link-container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  height: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;

  i {
    color: var(--light-gray);
  }
}

.nav-link:hover {
  box-shadow: inset 0 0 10px 0 white;
}

.fixed-nav {
  position: fixed;
}

.nav-stars {
  position: fixed;
  height: 80px;
  z-index: 1;
}

// Increased opacity on nav bar as
// user scrolls out of intro section.
.nav-bar-opacity- {
  &1 { opacity: 0.1; }
  &2 { opacity: 0.2; }
  &3 { opacity: 0.3; }
  &4 { opacity: 0.4; }
  &5 { opacity: 0.5; }
  &6 { opacity: 0.6; }
  &7 { opacity: 0.7; }
  &8 { opacity: 0.8; }
  &9 { opacity: 0.9; }
  &10 { opacity: 1; }
}
